
/* General rules */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box; }

body{
     background-color: #083b4c;  }
/* /General rules */

/* ------ */
h1{
     color: white;
     text-align: center;
     padding: 50px;
     font-size: 7rem;   }
     
.container{
     display: flex;
     flex-wrap: wrap;  
     gap: 10px;
     margin: 0 50px; 
     font-size: 1.75rem;
     font-weight: 600;    }
/* ------ */

.box{ /* quadratino */
     height: 125px;
     width: 125px; 
     display: inline-block;
     text-align: center;
     line-height: 125px; }  

.standard_color{ /* colore in codizioni normali */
     background-color: #1389b2; }

/* Colori per differenziare se "i" è (in ordine) divisibile per 3 , divisibile per 5 o divisibile per 15  */
.fizz_color{
     background-color: #0bd6a1; }

.buzz_color{
     background-color: #ffd166; }

.fizz_buzz_color{
     background-color: #f0466f; }
/* /Colori per differenziare se "i" è (in ordine) divisibile per 3 , divisibile per 5 o divisibile per 15  */


